<!DOCTYPE html>
<html>
	<head>
		<title>Jobs</title>
	</head>
	<body bgcolor="DarkSeaGreen">
        <h3>
            Pratham Rawat and Jesse Hall <br>
            SoftDev1 pd1 <br>
            K10 -- Jinja 2019-09-18 <br>git 
        </h3>
        <h1> Your random job is: <i style="color:blue">{{ randomJob }}</i></h1>
        <table border="1">
            <tr>
                <th>Job</th>
                <th>Percentage</th>
                <th>Link</th>
            </tr>
            {% for key in dictionary %}
            <tr>
                <td>{{key}}</td>
                <td>{{dictionary[key]}}</td>
                <td><a href="http://www.google.com/search?q={{key}}" target="_blank">More Information</a></td>
            </tr>
            {% endfor %}
        </table>
	</body>
</html>
